<section class="produto">
  <h1>{{ product.title }}</h1>
</section>

<style>
  section.produto {
    display: flex;
  }
  h1 {
    font-size: var(--f6);
    margin: 80px 0 0
  }
</style>

<script></script>
