<section class="novidades">
  <h2>Quer ver os lançamentos da nova coleção?</h2>
  <p>Produtos novinhos apenas esperando você!</p>
</section>

<div class="itens">
    {% for collection in collections %}
       {% unless colecoes_excluidas contains collection.handle %}
        <a class="item" href="{{ collection.url }}">
        <p>{{ collection.title }}</p>
        <img src="{{ collection.image | image_url}}" alt="{{ collection.title }}">
      </a>
      {% endunless %}
    {% endfor %}
  </div>


<style></style>
